SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/securepay_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
PORT=8080
JWT_SECRET=chave_de_256_bits_em_hexadecimal_ou_base64